.content {
  color: #4d6dad;
  transition: 0.5s ease;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.group {
  border: 1px solid gray;
}

.name:hover {
  color: red;
}

div.content {
  border: 1px solid gray;
  width: 150px;
}

ul.menu {
  border: 1px solid gray;
}

ul .name {
  padding: 0px;
}

li .name {
  padding: 0px 20px;
}
